
<!DOCTYPE html>
<html>
<head>
  <title>My EJS App</title>
</head>
<body>
  <h1>your branch id <%= branch %>!</h1>
      <a href="/logout">
        <button type="button">Logout</button>
      </a>
</body>
</html>